@model IEnumerable<BugTracker.Models.Tracker_Models.Ticket>
@{
    ViewBag.Title = "AllTickets";
}

<h2>All Tickets</h2>

<table class="table stripe">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPriority.Name)
            </th>
            <th>
                Assignee
            </th>
            <th>
                Owner
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketStatus.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>*@
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @if (item.TicketPriority.Name == "Essential")
                    {
                        <i id="red-fa" class="fa fa-exclamation-triangle fa-lg"></i>
                    }
                    else if (item.TicketPriority.Name == "Desirable")
                    {
                        <i id="yellow-fa" class="fa fa-exclamation-circle fa-lg"></i>
                    }
                    else
                    {
                        <i class="fa fa-exclamation fa-lg"></i>
                    }
                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Assignee.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.FirstName)
                </td>
                <td>
                    @if (item.TicketStatus.Name == "Open")
                    {
                        <i id="green-fa" class="fa fa-circle fa-lg"></i>
                    }
                    else if (item.TicketStatus.Name == "Overdue")
                    {
                        <i id="orange-fa" class="fa fa-circle fa-lg"></i>
                    }
                    else
                    {
                        <i class="fa fa-exclamation-circle fa-lg"></i>
                    }

                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created.LocalDateTime)
                </td>
                @*<td>
                        @if (!(item.Updated == null))
                        {
                        @Html.DisplayFor(modelItem => item.Updated.Value.LocalDateTime)
                        }
                    </td>*@
                
            </tr>
        }
    </tbody>
</table>
