@model IEnumerable<BugTracker.Models.Tracker_Models.Ticket>

@{
    ViewBag.Title = "Tickets";
}
<div class="min-height">
    <h2>Tickets</h2>

    <p>
        @if (User.IsInRole("Admin") | (User.IsInRole("ProjectManager") | (User.IsInRole("Developer") | (User.IsInRole("Submitter")))))
        {

            <div class="col-md-12 padBottom">
                <a class="layout-btn all-tick" href="@Url.Action("Create", "Tickets")">Create New Ticket <i class="fa fa-plus"></i></a>
            </div>
        }
</p>
<table class="table stripe">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPriority.Name)
            </th>
            <th>
                Assignee
            </th>
            <th>
                Owner
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketStatus.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>*@
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details","Tickets",new { id = item.Id })"> @Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @if (item.TicketPriority.Name == "Essential")
                    {
                        <i id="red-fa" class="fa fa-exclamation-triangle fa-lg"></i>
                    }
                    else if (item.TicketPriority.Name == "Desirable")
                    {
                        <i id="yellow-fa" class="fa fa-exclamation-circle fa-lg"></i>
                    }
                    else
                    {
                        <i class="fa fa-exclamation fa-lg"></i>
                    }
                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Assignee.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.FirstName)
                </td>
                <td>
                    @if (item.TicketStatus.Name == "Open")
                    {
                        <i id="green-fa" class="fa fa-circle fa-lg"></i>
                    }
                    else if (item.TicketStatus.Name == "Overdue")
                    {
                        <i id="orange-fa" class="fa fa-circle fa-lg"></i>
                    }
                    else
                    {
                        <i class="fa fa-circle fa-lg"></i>
                    }

                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created.LocalDateTime)
                </td>
                @*<td>
                        @if (!(item.Updated == null))
                        {
                        @Html.DisplayFor(modelItem => item.Updated.Value.LocalDateTime)
                        }
                    </td>*@
                <td>
                    <a href="@Url.Action("Edit", "Edit", new { id = item.Id })" title="Edit Ticket"><i class="fa fa-edit"></i></a> |
                    <a href="@Url.Action("Details", "Tickets", new { id = item.Id })" title="Ticket Details"><i class="fa fa-eye"></i></a>
                    @if (User.IsInRole("Admin"))
                {
                       @Html.Raw(" | ") <a href="@Url.Action("Delete", "Delete", new { id = item.Id })" title="Delete Ticket"><i class="fa fa-trash"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="col-md-6 text-left pad">
    <a class="layout-btn all-proj" href="@Url.Action("AllProjects", "Projects")">View All Projects</a>
</div>
<div class="col-md-6 text-right pad">
    <a class="layout-btn all-tick" href="@Url.Action("AllTickets", "Tickets")">View All Tickets</a>
</div>

</div>
          