@model IEnumerable<BugTracker.Models.Tracker_Models.Ticket>
@{
    ViewBag.Title = "Dashboard";
}
@*<link href="~/css/bootstrap-table.css" rel="stylesheet" />
    <link href="~/css/bootstrap-theme.css" rel="stylesheet" />*@
<link href="~/css/datepicker.css" rel="stylesheet" />
<link href="~/css/datepicker3.css" rel="stylesheet" />






<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Welcome @ViewBag.name!</h1>
        </div>
    </div><!--/.row-->
</div>
@if (User.IsInRole("Admin"))
{
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel panel-teal panel-widget ">
                    <div class="row no-padding">
                        <div class="col-sm-3 col-lg-5 widget-left">
                            <i class="fa fa-folder-o fa-4x"></i>
                            @*<svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg>*@
                        </div>
                        <div class="col-sm-9 col-lg-7 widget-right">
                            <div class="text-muted font text-center">Projects</div>
                            <div class="large text-center">@ViewBag.projects</div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel panel-blue panel-widget">
                    <div class="row no-padding">
                        <div class="col-sm-3 col-lg-5 widget-left">
                            <i class="fa fa-ticket fa-4x"></i>
                            @*<svg class="glyph stroked empty-message"><use xlink:href="#stroked-empty-message"></use></svg>*@
                        </div>
                        <div class="col-sm-9 col-lg-7 widget-right">
                            <div class="text-muted text-center font">Tickets</div>
                            <div class="large text-center">@ViewBag.tickets</div>                         
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-xs-12 col-md-6 col-lg-3">
                    <div class="panel panel-teal panel-widget">
                        <div class="row no-padding">
                            <div class="col-sm-3 col-lg-5 widget-left">
                                <svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>
                            </div>
                            <div class="col-sm-9 col-lg-7 widget-right">
                                <div class="large">@ViewBag.users</div>
                                <div class="text-muted">Active Users</div>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel panel-red panel-widget">
                    <div class="row no-padding">
                        <div class="col-sm-3 col-lg-5 widget-left">
                            <i class="fa fa-users fa-4x"></i>
                            @*<svg class="glyph stroked app-window-with-content"><use xlink:href="#stroked-app-window-with-content"></use></svg>*@
                        </div>
                        <div class="col-sm-9 col-lg-7 widget-right">
                            <div class="text-muted font text-center">Active Users</div>
                            <div class="large text-center">@ViewBag.Users</div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
        @*<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Site Traffic Overview</div>
                        <div class="panel-body">
                            <div class="canvas-wrapper">
                                <canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@<!--/.row-->

        <div class="row">
            <div class="col-xs-6 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Projects Without Users</h4>
                        <div class="easypiechart" id="easypiechart-teal" data-percent="@ViewBag.projectPercent">
                            <span class="percent">@ViewBag.projectPercent%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Open Tickets</h4>
                        <div class="easypiechart" id="easypiechart-blue" data-percent="@ViewBag.ticketPercent">
                            <span class="percent">@ViewBag.ticketPercent%</span>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-xs-6 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body easypiechart-panel">
                            <h4>New Users</h4>
                            <div class="easypiechart" id="easypiechart-teal" data-percent="56">
                                <span class="percent">56%</span>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="col-xs-6 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Users Without Projects</h4>
                        <div class="easypiechart" id="easypiechart-red" data-percent="@ViewBag.usersPercentage">
                            <span class="percent">@ViewBag.usersPercentage%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </div>
}
else if (User.IsInRole("ProjectManager")||(User.IsInRole("Developer"))||(User.IsInRole("Submitter")))
{
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-teal panel-widget ">
                    <div class="row no-padding">
                        <div class="col-sm-3 col-lg-5 widget-left">
                            <i class="fa fa-folder-o fa-4x"></i>
                            @*<svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg>*@
                        </div>
                        <div class="col-sm-9 col-lg-7 widget-right">
                            <div class="text-muted font text-center">My Projects</div>
                            <div class="large text-center"> @ViewBag.usersProjs</div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-blue panel-widget">
                    <div class="row no-padding">
                        <div class="col-sm-3 col-lg-5 widget-left">
                            <i class="fa fa-ticket fa-4x"></i>
                            @*<svg class="glyph stroked empty-message"><use xlink:href="#stroked-empty-message"></use></svg>*@
                        </div>
                        <div class="col-sm-9 col-lg-7 widget-right">
                            <div class="text-muted font text-center">My Tickets</div>
                            <div class="large text-center">
                                @if (User.IsInRole("ProjectManager"))
                                {
                                    @ViewBag.pmTickets
                                }
                                else if (User.IsInRole("Developer")) {
                                    @ViewBag.devTickets
                                }
                                else if (User.IsInRole("Submitter"))
                                {
                                    @ViewBag.submitterTickets
                                }
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>Projects Impact</h4>
                        <div class="easypiechart" id="easypiechart-teal" data-percent="@ViewBag.userProjects">
                            <span class="percent">@ViewBag.userProjects%</span>
                        </div>
                    </div>
                </div>
            </div>
            @if (User.IsInRole("ProjectManager"))
            {
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>My Open Tickets</h4>
                        <div class="easypiechart" id="easypiechart-blue" data-percent="@ViewBag.pmPer">
                            <span class="percent">@ViewBag.pmPer%</span>
                        </div>
                    </div>
                </div>
            </div>
            }
            else if (User.IsInRole("Developer"))
            {
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>My Open Tickets</h4>
                        <div class="easypiechart" id="easypiechart-blue" data-percent="@ViewBag.devPer">
                            <span class="percent">@ViewBag.devPer%</span>
                        </div>
                    </div>
                </div>
            </div>
            }
            else if (User.IsInRole("Submitter"))
            {
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>My Open Tickets</h4>
                        <div class="easypiechart" id="easypiechart-blue" data-percent="@ViewBag.subPer">
                            <span class="percent">@ViewBag.subPer%</span>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
}
else
{



}

@section scripts{

   
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/bootstrap-table.js"></script>
    <script src="~/js/chart-data.js"></script>
    <script src="~/js/chart.min.js"></script>
    <script src="~/js/easypiechart-data.js"></script>
    <script src="~/js/easypiechart.js"></script>
    <script src="~/js/html5shiv.min.js"></script>
    <script src="~/js/lumino.glyphs.js"></script>
    <script src="~/js/respond.min.js"></script>


    <script>
        $('#calendar').datepicker({
        });

        !function ($) {
            $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
                $(this).find('em:first').toggleClass("glyphicon-minus");
            });
            $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
        }(window.jQuery);

        $(window).on('resize', function () {
            if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
        })
        $(window).on('resize', function () {
            if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
        })
    </script>
}

