@model IEnumerable<BugTracker.Models.RoleAdminViewModel>
@{
    ViewBag.Title = "Users";
}
<div class="container">
<h2>Users</h2>
<p>
    @Html.ActionLink("New User", "Register","Account")
</p>
<table class="table stripe">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>

            <th>
                Edit Role
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.DisplayName)
            </td>
            <td>
                @foreach (var role in item.Role)
                {
                    <p>@role</p>
                }
            </td>
            <td>
                @Html.ActionLink("Edit Role", "EditUser", new { id = item.User.Id })
                @*@Html.ActionLink("Details", "Details", new { id = item.User.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.User.Id })*@
            </td>
        </tr>
        }
    </tbody>
</table>
    </div>